[submodule "opt/antigen"]
	path = opt/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "config/vim/bundle/Vundle.vim"]
	path = config/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/vimperator/colors"]
	path = config/vimperator/colors
	url = git@github.com:vimpr/vimperator-colors.git
[submodule "config/i3blocks"]
	path = config/i3blocks
	url = git@github.com:P4Cu/i3blocks-contrib.git
[submodule "config/ranger/plugins/ranger_devicons"]
	path = config/ranger/plugins/ranger_devicons
	url = https://github.com/alexanderjeurissen/ranger_devicons
