*~
*.swp
config/ranger/plugins/__init__.py
config/ranger/plugins/__pycache__/
config/vim/.netrwhist
bin/clangd.toml
etc/zshrc.zwc
config/nvim/lua/.luarc.json
config/vim/spell

config_win/WindowsPowerShell/Modules/
config_win/WindowsPowerShell/vs_envfile.ps1
config/lazygit/state.yml
