[submodule "opt/antigen"]
	path = opt/antigen
	url = https://github.com/zsh-users/antigen.git
[submodule "config/vim/bundle/Vundle.vim"]
	path = config/vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim
[submodule "config/tmux/plugins/tpm"]
	path = config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "config/vimperator/colors"]
	path = config/vimperator/colors
	url = git@github.com:vimpr/vimperator-colors.git
